<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Make A Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <style type="text/css">

        .form-control {
            height: 40px;
            box-shadow: none;
            color: #969fa4;
        }

        .form-control:focus {
            border-color: #5cb85c;
        }

        .form-control,
        .btn {
            border-radius: 3px;
        }

        .add-from {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

        .add-from h2 {
            color: #636363;
            margin: 0 0 15px;
            position: relative;
            text-align: center;
        }

        .add-from h2:before,
        .add-from h2:after {
            content: "";
            height: 2px;
            width: 30%;
            background: #d4d4d4;
            position: absolute;
            top: 50%;
            z-index: 2;
        }

        .add-from h2:before {
            left: 0;
        }

        .add-from h2:after {
            right: 0;
        }

        .add-from .hint-text {
            color: #999;
            margin-bottom: 30px;
            text-align: center;
        }

        .add-from form {
            color: #999;
            border-radius: 3px;
            margin-bottom: 15px;
            background: #f2f3f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .add-from .form-group {
            margin-bottom: 20px;
        }

        .add-from input[type="checkbox"] {
            margin-top: 3px;
        }

        .add-from .btn {
            font-size: 16px;
            font-weight: bold;
            min-width: 140px;
            outline: none !important;
        }

        .add-from .row div:first-child {
            padding-right: 10px;
        }

        .add-from .row div:last-child {
            padding-left: 10px;
        }
    </style>
</head>

<body>
    <div class="add-from">
        <form action="/adds" method="post">
            <h2>Post Ad</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title" required="required">
            </div>
            <div class="form-group">
                <select name="category" class="form-control">
                    <option value="" disabled selected>Category</option>
                    <option value="book" id="book">books</option>
                    <option value="drafter" id="drafter">Drafter</option>
                    <option value="other" id="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <textarea type="text-box" class="form-control" name="description" placeholder="Description"
                    required="required">
                </textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Post</button>
            </div>
        </form>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</body>

</html>