<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="css/index.css">

<body>
  <div class="back">

    <nav class="navbar navbar-expand">
      <div class="container-fluid">

        <div class="navbar-header ">
          <div class="navbar-brand ">
            <img src="green.jpg" alt="Home" />
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
           <a href="/login" class="btn btn-warning">Login</a>
           <a href="/logout" class="btn btn-warning">Logout</a>
          </li>
        </ul>
      </div>
    </nav>






    <div class="rooms">
      <section class="wrapper">

        <div class="container-fostrap">
          <div class="row">

        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="/chat.html?username=sai&room=206">
                    <img src="book.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="/chat.html?username=sai&room=206"> Akash 3rd Sem Books
                      </a>
                    </h4>
                    <p class="" style="color:grey;">
                      Posted By Shitij <br>
                      Room No:206
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="/chat.html?username=sai&room=206" class="btn btn-link btn-block">
                      Connect
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="/chat.html?username=sai&room=207">
                    <img src="vernier.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="/chat.html?username=sai&room=207"> Vernier Calliper
                      </a>
                    </h4>
                    <p class="" style="color:grey;">
                      Posted By Shaswat <br>
                      Room No:207
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="/chat.html?username=sai&room=207" class="btn btn-link btn-block">
                      Connect
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="/chat.html?username=sai&room=208">
                    <img src="paper.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="/chat.html?username=sai&room=208"> GGSIPU End Term Papers
                      </a>
                    </h4>
                    <p class="" style="color:grey;">
                      Posted By Rishab <br>
                      Room No:208
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="/chat.html?username=sai&room=208" class="btn btn-link btn-block">
                      Connect
                    </a>
                  </div>
                </div>
              </div>





</div>
</div>
</div>
</div>
    </section>
  </div>

</div>

</body>

</html>
